/* Color */
.simple-timer-timer {
  position: relative;
}

.simple-timer-status-active {
  margin-left: 12px;
}

.simple-timer-status-active:before {
  content: '';
  display: block;
  width: 10px;
  border-radius: 5px;
  background: red;
  height: 10px;
  position: absolute;
  left: -12px;
  top: 5px;
}

/* Layout */
.view .simple-timer-timer {
  float: right;
}

.simple-timer-timer > div {
  display: inline;
}

.simple-timer-timer .timer {
  margin-right: 5px;
  font-size: 1.2em;
  vertical-align: middle;
}

/* Buttons */
.button.timer-control {
  font-size: 0.7em;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  line-height: 1em;
}

/* Buttons Colours */
.timer-control.timer-stop,
.timer-control.timer-start {
  background-color: #47D147;
}
.timer-control.timer-cancel {
  background-color: #FF4D4D;
}
.timer-control.timer-pause {
  background-color: #FFB84D;
}
.timer-control.timer-resume {
  background-color: #66B2FF;
}

/* Behavior */
@-webkit-keyframes simpleTimerBehaviorFlash {
  from, to {
    background-color: transparent;
    color: #000000;
  }
  50% {
    background-color: #47D147;
    color: inherit;
  }
}
@keyframes simpleTimerBehaviorFlash {
  from, to {
    background-color: transparent;
    border: 1px solid red;
    color: red;
  }
  50% {
    background-color: #47D147;
    border: 1px solid transparent;
    color: #FFFFFF;
  }
}

.simple-timer-behavior-flash .timer-control.timer-start {
  -webkit-animation: simpleTimerBehaviorFlash 1s step-end infinite;
  animation: simpleTimerBehaviorFlash 1s step-end infinite;
}
