.simple-timer-dock {
  background: #FFFFFF;
  padding-bottom: 0;
  position: fixed;
  bottom: 0;
  right: 10px;
  border: 1px solid #e3e3e3;
  border-bottom: none;
  min-height: 40px;
  min-width: 40px;
}

.simple-timer-dock h2 {
  padding: 5px 10px;
  text-align: right;
  margin: 0;
  cursor: pointer;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.simple-timer-dock h2:after {
  content: '\1F552';
  font-size: 1.2em;
  margin-left: 5px;
}

.simple-timer-dock .view .contextual-links-wrapper {
  display: none;
}

.simple-timer-dock .view {
  margin-right: 40px;
}

.simple-timer-dock .view .view-empty {
  padding: 10px;
  font-size: 1.4em;
}

.simple-timer-dock .view table {
  border: none;
  display: inline;
}

.simple-timer-dock .views-table td {
  padding: 2px;
}

.simple-timer-dock .views-table td .entity h2 {
  display: none;
}

.simple-timer-dock.collapsed .view {
  display: none;
}
